.complaintbox
{
	border:1px solid #e6e6e6;border-top:2px solid #b1b1b1;background:#fff;padding-left:10px;
	font: 14px "宋体";
    color: #5f6165;padding: 0 10px;padding-top: 16px;
}
.complaintbox p {
	margin-bottom: 16px;
	line-height: 150%;
}
.complaintbox ul li{
	border-bottom: 1px dashed #e6e6e6;
	padding-top: 16px;
}
.complaintbox ul li div
{
	font:16px "Microsoft YaHei";color:#19191B;display: block;margin-bottom: 5px;
}
.complaintbox ul li div .time{
	font:12px "宋体";color:#d8d8d8;
	float: right;
}
.comform{
	margin-top:20px;
	padding-bottom: 20px;
}
.comform textarea{
	width: 900px;height: 100px;border:1px solid #d0d5d9;vertical-align: top
}
.comform button{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #78a7ff;
    border: none;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;margin-left: 10px;
	vertical-align: bottom;
}
.comform button:hover {
  background-color: #587ed1;
}
/*新建投诉*/
.newcomplaint .ordernum{
    border: none;
    border: 1px solid #d0d5d9;
    width: 288px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    vertical-align: middle;
}
.newcomplaint .ordernumbtn{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #78a7ff;
    border: none;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;margin-left: 10px;
    vertical-align: bottom;
}
.newcomplaint .ordernumbtn:hover {
  background-color: #587ed1;
}
/*新建投诉*/