.areabox{
	width:700px;overflow:hidden;height:38px;border:1px solid #fff;border-top:none;border-bottom:none;

}
.toggleclass{
	height:auto;border:1px solid #e6e6e6;border-top:none;position:relative;background:#fff;padding-bottom: 9px;
}
.areabox .eachletter{
	height:20px;line-height:20px;margin-top:9px;
}
.morearea{
	font-size: 14px;color:#78a7ff;cursor: pointer;margin-left: 7px;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;
}
.morearea:hover{
	text-decoration: underline;
}
/*分销商加盟设置*/
.distr{
	border:1px solid #e6e6e6;
	border-top: 2px solid #b1b1b1;
	background: #fff;
	font: 14px "宋体";
    color: #5f6165;padding-left: 10px;padding-top: 20px;
}
.content .distr input[type="text"], .content .distr input[type="password"] {
    border: none;
    border: 1px solid #d0d5d9;
    width: 288px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    vertical-align: middle;
}
.content .distr select {
    border: none;
    border: 1px solid #d0d5d9;
    outline: none;
    width: 300px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}
.content .distr p {
    margin-bottom: 20px;
}
.resize{
	margin-right: 10px;
}
.resize:hover{
	text-decoration: underline;cursor: pointer;
}
/*分销商加盟设置*/