.infopic{
	background: #fff;
	border:1px solid #e6e6e6;
	color: #5f6165;
}
.content input[type="text"], .content input[type="password"] {
    border: none;
    border: 1px solid #d0d5d9;
    width: 288px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    vertical-align: middle;
}
.cominfo{
    background: #fff
}
.ps{
    text-indent: 10px;
    margin: 15px 0
}
.ps span{
    margin-left: 48px
}
.pictoo{
    font-size: 18px;color: #78a7ff
}
#types{
    border: none;
    border: 1px solid #d0d5d9;
    width:100px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    vertical-align: middle;
}
.mark{
    background: #fff;border:1px solid #e6e6e6;
    border-top:none;
    font:14px "宋体";
    color:#676767;
    padding: 10px;
}
.mark p{
    margin-bottom: 20px;
}
.mark textarea{
    width: 400px;height: 100px;border:1px solid #e6e6e6;
}
.scpric{
        width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color:#78a7ff;
    border: none;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}
.scpric:hover{
    background: #9CBDFB
}