.content .table-title{
	border-bottom:2px solid #b1b1b1;
}
.content .role-box{
	border:1px solid #e6e6e6;
	background:#fff;
	border-top: none;
	margin-bottom: 10px;padding:30px 0 30px 10px;
}
.content .role-box{
	font: 14px "宋体";
	color: #5f6165;
	-moz-box-shadow: 0px 2px 10px 0px #e6e6e6;
    -o-box-shadow: 0px 2px 10px 0px #e6e6e6;
    -webkit-box-shadow: 0px 2px 10px 0px #e6e6e6;
    box-shadow: 0px 2px 10px 0px #e6e6e6;
}
.content .role-box p{
	margin-bottom: 20px;
}
.content .role-box label{
  margin:0 10px 5px 0;
	cursor: pointer;
  display: inline-block;
  *display: inline;
  zoom:1;
  -webkit-user-select:none;
  -moz-user-select:none;
}
.content .role-box label span{
	margin-left: 4px;
}
.content .role-box input[type="text"],.content .role-box input[type="password"]{
	border:none;border:1px solid #d0d5d9;
	width: 288px;height: 38px;line-height: 38px;padding-left: 10px;
	vertical-align: middle;
}
.content .role-box input[type="checkbox"]{
	vertical-align: -2px
}
.content .role-box select{
	border:none;border:1px solid #d0d5d9;outline: none;
	width: 300px;height: 38px;line-height: 38px;
	vertical-align: middle;
}
.content .role-box button {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #37ba65;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.content .role-box button:hover {
  background-color: #57cd80;
}
.linkask{
	font:12px "宋体";
	color: #37ba65;
}
.linkask:hover{
	text-decoration: underline;
}
.showform .picbox {
  font-size: 14px;
  color: #5f6165;
  zoom: 1;
}
.showform .picbox:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.showform .picbox .title {
  float: left;
}
.showform .picbox .pic {
  float: left;
  margin-left: 7px;
  width: 923px;
}
.showform .picbox .pic .item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 5px;
}
.showform .picbox .pic .item .dels {
  position: absolute;
  display: block;
  width: 298px;
  font-size: 14px;
  color: #ffffff;
  background: #5f6165;
  padding: 5px 0;
  text-align: right;
  top: -27px;
  left: 0px;
  cursor: pointer;
  transition: top .3s;
  -moz-transition: top .3s;
  /* Firefox 4 */

  -webkit-transition: top .3s;
  /* Safari å’Œ Chrome */

  -o-transition: top .3s;
  /* Opera */

}
.showform .picbox .pic .item:hover .dels {
  top: 0px;
}
.showform .picbox .pic img {
  margin-bottom: 10px;
}